div{
    margin: 0 auto;
    width: 75%;
}
p{
    margin: 0;
}
.center{
    margin: 10%;
    height: auto;
    text-align: center;

}
header, nav, footer{
    text-align: center;
    background-color: rgb(37, 161, 149);
}
header{
    font-style: stretch;
    color: white;
}
main{
    margin: auto;
    height: auto;
    background-color:rgba(240, 240, 240, 0.973);;
    overflow: hidden;
    
}
nav {
    background-color: turquoise;
    color: black
}
section.left{
    text-align: center;
    height: auto;
    background-color:rgb(37, 161, 149);
    float: left;
    width: 100px;
    height: auto;
}
ul{
   margin-left: -40px;
   list-style-type: none;
}